@model KitapShop.Models.Urunler

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h2>Sil</h2>

<h3>Bunu silmek istediğine emin misin?</h3>
<div>
    <h4>Urunler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Yazar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yazar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cevirmen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cevirmen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Yayinevi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yayinevi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kapak)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kapak)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sayfa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sayfa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Baslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Baslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aciklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fiyat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fiyat)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
